@model  StellaguardProductAssociation.Models.ProductAssociationLogin

    <style type="text/css">
        .left-padding {
        }
    </style>
    <br />
    <div class="form-horizontal no-margin col-lg-12 form-padding">
        @Html.Partial("_Login", Model)
  

        

    </div>
@*@section popup {
    @Html.Partial("~/Views/Shared/_ModalPopup.cshtml", Model.Message)
}*@                        

@section scripts{
    <script src="~/Scripts/Common/commonjs.js"></script>
    }



